node-red.json
[
    {
        "id": "7ec7738dc8078a6d",
        "type": "tab",
        "label": "Plant 1&2 — WWTP SCADA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d22474acdb02e9d",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant1/ph",
        "topic": "wwtp/plant1/ph",
        "qos": "1",
        "datatype": "auto",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "5c0edf6a1b54b18f"
            ]
        ]
    },
    {
        "id": "5c0edf6a1b54b18f",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "eb5d058fd18f394c"
            ]
        ]
    },
    {
        "id": "eb5d058fd18f394c",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform pH",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nconst required = ['plant_id', 'sensor_type', 'value', 'unit', 'status'];\nfor (const f of required) {\n  if (p[f] === undefined) { node.warn('Missing: ' + f); return null; }\n}\n\nmsg.payload = {\n  plant_id:    p.plant_id,\n  sensor_type: p.sensor_type,\n  value:       parseFloat(p.value),\n  unit:        p.unit,\n  status:      p.status,\n  is_manual:   Boolean(p.is_manual)\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nnode.warn('SENDING pH: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "dcd6d084e0909d4d"
            ]
        ]
    },
    {
        "id": "dcd6d084e0909d4d",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT sensor_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/sensor_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "587618727cb82783"
            ]
        ]
    },
    {
        "id": "587618727cb82783",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response pH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "4469fa5138b7c4fb",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant1/level",
        "topic": "wwtp/plant1/level",
        "qos": "1",
        "datatype": "auto",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "11ee41b16e498a69"
            ]
        ]
    },
    {
        "id": "11ee41b16e498a69",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "c4a4dc2849dcf307"
            ]
        ]
    },
    {
        "id": "c4a4dc2849dcf307",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform Level",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nconst required = ['plant_id', 'sensor_type', 'value_cm', 'value_pct', 'value_liter'];\nfor (const f of required) {\n  if (p[f] === undefined) { node.warn('Missing: ' + f); return null; }\n}\n\nmsg.payload = {\n  plant_id:    p.plant_id,\n  value_cm:    parseFloat(p.value_cm),\n  value_pct:   parseFloat(p.value_pct),\n  value_liter: parseFloat(p.value_liter),\n  unit:        p.unit,\n  status:      p.status\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nnode.warn('SENDING level: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "cfda250cf2ed772b"
            ]
        ]
    },
    {
        "id": "bdb754a78b648891",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "b5d1605afa59bb6f",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant1/valve/state",
        "topic": "wwtp/plant1/valve/state",
        "qos": "1",
        "datatype": "auto",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "7dd2f5d542b5f94f"
            ]
        ]
    },
    {
        "id": "7dd2f5d542b5f94f",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "5136980db0b27c99"
            ]
        ]
    },
    {
        "id": "5136980db0b27c99",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform Valve",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nmsg.payload = {\n  plant_id: p.plant_id,\n  device:   p.device   || 'solenoid_valve',\n  state:    p.state    || 'UNKNOWN',\n  mode:     p.mode     || 'UNKNOWN'\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "54b00fca8009e2b1"
            ]
        ]
    },
    {
        "id": "54b00fca8009e2b1",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT valve_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/valve_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 260,
        "wires": [
            [
                "21f4818b8ee43ccd"
            ]
        ]
    },
    {
        "id": "21f4818b8ee43ccd",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Valve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "79643d73a150d2c6",
        "type": "http in",
        "z": "7ec7738dc8078a6d",
        "name": "POST /valve/cmd",
        "url": "/valve/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "3388f4422f06e5c6"
            ]
        ]
    },
    {
        "id": "3388f4422f06e5c6",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Build Valve Command",
        "func": "// Terima: { mode: 'AUTO'|'MANUAL', state: 'OPEN'|'CLOSED' }\nconst body = msg.payload;\n\nif (!body.mode) {\n  msg.payload = { error: 'mode diperlukan (AUTO atau MANUAL)' };\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nconst cmd = { mode: body.mode };\nif (body.mode === 'MANUAL') {\n  if (!body.state) {\n    msg.payload = { error: 'state diperlukan saat mode MANUAL (OPEN atau CLOSED)' };\n    msg.statusCode = 400;\n    return [null, msg];\n  }\n  cmd.state = body.state;\n}\n\nmsg.payload = JSON.stringify(cmd);\nmsg.topic   = 'wwtp/plant1/valve/cmd';\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "79594f906ae152ec"
            ],
            [
                "4ff75505e4664377"
            ]
        ]
    },
    {
        "id": "79594f906ae152ec",
        "type": "mqtt out",
        "z": "7ec7738dc8078a6d",
        "name": "Publish wwtp/plant1/valve/cmd",
        "topic": "wwtp/plant1/valve/cmd",
        "qos": "1",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7f9f94c67c1a0679",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b5dc4b47dfa1cb2",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "4ff75505e4664377",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 400 Error",
        "statusCode": "400",
        "headers": {},
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "c246eeea62167a38",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Set OK Response",
        "func": "msg.payload = { success: true, message: 'Command dikirim ke ESP32' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "3b5dc4b47dfa1cb2"
            ]
        ]
    },
    {
        "id": "cfda250cf2ed772b",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT level_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/level_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 200,
        "wires": [
            [
                "bdb754a78b648891"
            ]
        ]
    },
    {
        "id": "76f6adbf9eb47473",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/alert",
        "topic": "wwtp/alert",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "d4f0071fc2a35280"
            ]
        ]
    },
    {
        "id": "d4f0071fc2a35280",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "68cf1df47f63472b"
            ]
        ]
    },
    {
        "id": "68cf1df47f63472b",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform Alert",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nmsg.payload = {\n  plant_id: p.plant_id || 'unknown',\n  code:     p.code    || 'UNKNOWN',\n  message:  p.message || '',\n  valve:    p.valve   || 'UNKNOWN'\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nnode.warn('ALERT: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "452b67e74961d252"
            ]
        ]
    },
    {
        "id": "452b67e74961d252",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT alert_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/alert_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 320,
        "wires": [
            [
                "a3603f0a2097f5e3"
            ]
        ]
    },
    {
        "id": "a3603f0a2097f5e3",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "8fab95dea33126d2",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant2/level",
        "topic": "wwtp/plant2/level",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "4d68bb0b89c573a4"
            ]
        ]
    },
    {
        "id": "4d68bb0b89c573a4",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "6f23ed096b723865"
            ]
        ]
    },
    {
        "id": "6f23ed096b723865",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform Level P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch (e) { node.warn('JSON error: ' + e); return null; }\n}\nconst required = ['plant_id','value_cm','value_pct','value_liter'];\nfor (const f of required) { if (p[f] === undefined) { node.warn('Missing: ' + f); return null; } }\nmsg.payload = {\n  plant_id:    p.plant_id,\n  value_cm:    parseFloat(p.value_cm),\n  value_pct:   parseFloat(p.value_pct),\n  value_liter: parseFloat(p.value_liter),\n  unit:        p.unit || 'cm',\n  status:      p.status || 'Unknown'\n};\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "3f5e68785d7b1dde"
            ]
        ]
    },
    {
        "id": "3f5e68785d7b1dde",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT level_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/level_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "6ed2c9c825d57a57"
            ]
        ]
    },
    {
        "id": "6ed2c9c825d57a57",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Level P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "593a09b05b7a2c51",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant2/flow",
        "topic": "wwtp/plant2/flow",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "fb87543828ab15dd"
            ]
        ]
    },
    {
        "id": "fb87543828ab15dd",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "4be6958f999cb730"
            ]
        ]
    },
    {
        "id": "4be6958f999cb730",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform Flow P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch (e) { node.warn('JSON error: ' + e); return null; }\n}\nmsg.payload = {\n  plant_id: p.plant_id || 'plant2',\n  value:    parseFloat(p.value),\n  unit:     p.unit || 'L/min',\n  status:   p.status || 'Unknown'\n};\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "fca0d306c03bbccd"
            ]
        ]
    },
    {
        "id": "fca0d306c03bbccd",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT flow_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/flow_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 600,
        "wires": [
            [
                "dd814e343c7be9ae"
            ]
        ]
    },
    {
        "id": "dd814e343c7be9ae",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Flow P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0e3f8338ae6e16b",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant2/valve/main/state",
        "topic": "wwtp/plant2/valve/main/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 660,
        "wires": [
            [
                "5110bf846aa6bfe4"
            ]
        ]
    },
    {
        "id": "5110bf846aa6bfe4",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "04373c071516f527"
            ]
        ]
    },
    {
        "id": "04373c071516f527",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate Valve Main P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch(e) { return null; } }\nmsg.payload = { plant_id: p.plant_id || 'plant2', device: p.device || 'main_valve', state: p.state || 'UNKNOWN', mode: p.mode || 'UNKNOWN' };\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 660,
        "wires": [
            [
                "8a9e263961ba7a13"
            ]
        ]
    },
    {
        "id": "8a9e263961ba7a13",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT valve_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/valve_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 660,
        "wires": [
            [
                "61597da0fc3cc16b"
            ]
        ]
    },
    {
        "id": "61597da0fc3cc16b",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Valve Main P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "d9a9c95027ddbc43",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/plant2/valve/failsafe/state",
        "topic": "wwtp/plant2/valve/failsafe/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 720,
        "wires": [
            [
                "5eddb024d5b1afa4"
            ]
        ]
    },
    {
        "id": "5eddb024d5b1afa4",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "9e23407d4e3648fc"
            ]
        ]
    },
    {
        "id": "9e23407d4e3648fc",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate Valve FS P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch(e) { return null; } }\nmsg.payload = { plant_id: p.plant_id || 'plant2', device: p.device || 'failsafe_valve', state: p.state || 'UNKNOWN', mode: p.mode || 'UNKNOWN' };\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 720,
        "wires": [
            [
                "70c187414f6b3d80"
            ]
        ]
    },
    {
        "id": "70c187414f6b3d80",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT valve_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/valve_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 720,
        "wires": [
            [
                "330ecd5658d96e3f"
            ]
        ]
    },
    {
        "id": "330ecd5658d96e3f",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Valve FS P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1290,
        "y": 720,
        "wires": []
    },
    {
        "id": "26c30cb4c17e8f03",
        "type": "http in",
        "z": "7ec7738dc8078a6d",
        "name": "POST /plant2/valve/main/cmd",
        "url": "/plant2/valve/main/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "3b70b5eec07a1cd6"
            ]
        ]
    },
    {
        "id": "3b70b5eec07a1cd6",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Build Main Cmd",
        "func": "const body = msg.payload;\nif (!body.mode) { msg.payload = { error: 'mode diperlukan' }; msg.statusCode = 400; return [null, msg]; }\nconst cmd = { mode: body.mode };\nif (body.mode === 'MANUAL') { if (!body.state) { msg.payload = { error: 'state diperlukan' }; msg.statusCode = 400; return [null, msg]; } cmd.state = body.state; }\nmsg.payload = JSON.stringify(cmd);\nmsg.topic = 'wwtp/plant2/valve/main/cmd';\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 800,
        "wires": [
            [
                "cde85b9380ec2e26",
                "e64841ca98918d8f"
            ],
            [
                "f0e81b7120f25e87"
            ]
        ]
    },
    {
        "id": "cde85b9380ec2e26",
        "type": "mqtt out",
        "z": "7ec7738dc8078a6d",
        "name": "Publish plant2/valve/main/cmd",
        "topic": "wwtp/plant2/valve/main/cmd",
        "qos": "1",
        "retain": false,
        "broker": "7f9f94c67c1a0679",
        "x": 660,
        "y": 780,
        "wires": []
    },
    {
        "id": "e64841ca98918d8f",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 200",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 660,
        "y": 820,
        "wires": []
    },
    {
        "id": "f0e81b7120f25e87",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 400",
        "statusCode": "400",
        "headers": {
            "content-type": "application/json"
        },
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "14b2d10d18162268",
        "type": "http in",
        "z": "7ec7738dc8078a6d",
        "name": "POST /plant2/valve/failsafe/cmd",
        "url": "/plant2/valve/failsafe/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 970,
        "y": 800,
        "wires": [
            [
                "4163d9d8f38268b3"
            ]
        ]
    },
    {
        "id": "4163d9d8f38268b3",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Build FS Cmd",
        "func": "const body = msg.payload;\nif (!body.mode) { msg.payload = { error: 'mode diperlukan' }; msg.statusCode = 400; return [null, msg]; }\nconst cmd = { mode: body.mode };\nif (body.mode === 'MANUAL') { if (!body.state) { msg.payload = { error: 'state diperlukan' }; msg.statusCode = 400; return [null, msg]; } cmd.state = body.state; }\nmsg.payload = JSON.stringify(cmd);\nmsg.topic = 'wwtp/plant2/valve/failsafe/cmd';\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 800,
        "wires": [
            [
                "a33dd9d7796bc927",
                "43d4fae22274a877"
            ],
            [
                "539b78f74b5f973c"
            ]
        ]
    },
    {
        "id": "a33dd9d7796bc927",
        "type": "mqtt out",
        "z": "7ec7738dc8078a6d",
        "name": "Publish plant2/valve/failsafe/cmd",
        "topic": "wwtp/plant2/valve/failsafe/cmd",
        "qos": "1",
        "retain": false,
        "broker": "7f9f94c67c1a0679",
        "x": 1450,
        "y": 780,
        "wires": []
    },
    {
        "id": "43d4fae22274a877",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 200",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1450,
        "y": 820,
        "wires": []
    },
    {
        "id": "539b78f74b5f973c",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 400",
        "statusCode": "400",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1450,
        "y": 860,
        "wires": []
    },
    {
        "id": "8aec826e9f9d22f2",
        "type": "mqtt in",
        "z": "7ec7738dc8078a6d",
        "name": "Subscribe wwtp/mtu/dosing/state",
        "topic": "wwtp/mtu/dosing/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 960,
        "wires": [
            [
                "cd8784fa4fa29dca"
            ]
        ]
    },
    {
        "id": "cd8784fa4fa29dca",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "4060f97d6f31d1ae"
            ]
        ]
    },
    {
        "id": "4060f97d6f31d1ae",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Validate & Transform Dosing",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch(e) { node.warn('JSON error: ' + e); return null; }\n}\nmsg.payload = {\n  plant_id:     p.plant_id     || 'mtu',\n  status:       p.status       || 'UNKNOWN',\n  cycle:        parseInt(p.cycle) || 0,\n  target_ml:    parseFloat(p.target_ml)    || 0,\n  delivered_ml: parseFloat(p.delivered_ml) || 0,\n  pump_base:    Boolean(p.pump_base),\n  pump_acid:    Boolean(p.pump_acid),\n  stirrer:      Boolean(p.stirrer)\n};\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 960,
        "wires": [
            [
                "8c8d7c9f9051c9a4"
            ]
        ]
    },
    {
        "id": "8c8d7c9f9051c9a4",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT dosing_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/dosing_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 960,
        "wires": [
            [
                "39cef9f83f5bd874"
            ]
        ]
    },
    {
        "id": "39cef9f83f5bd874",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Dosing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 960,
        "wires": []
    },
    {
        "id": "625330410f165865",
        "type": "http in",
        "z": "7ec7738dc8078a6d",
        "name": "POST /plant1/actuator/cmd",
        "url": "/plant1/actuator/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "43bc3b8bfd895174"
            ]
        ]
    },
    {
        "id": "43bc3b8bfd895174",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Build Actuator Command",
        "func": "const body = msg.payload;\nif (!body.device || !body.cmd) {\n  msg.payload = { error: 'device (acid, base, mixer) dan cmd (ON, OFF) diperlukan' };\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nlet subtopic = '';\nif (body.device === 'acid') subtopic = 'dosing/acid/cmd';\nelse if (body.device === 'base') subtopic = 'dosing/base/cmd';\nelse if (body.device === 'mixer') subtopic = 'mixer/cmd';\nelse {\n  msg.payload = { error: 'device tidak dikenal' };\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nmsg.payload = JSON.stringify({ cmd: body.cmd });\nmsg.topic   = 'wwtp/plant1/' + subtopic;\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "9dadaf9a230b8c7a",
                "b029746329a3fa12"
            ],
            [
                "955210d988c9ca0e"
            ]
        ]
    },
    {
        "id": "9dadaf9a230b8c7a",
        "type": "mqtt out",
        "z": "7ec7738dc8078a6d",
        "name": "Publish wwtp/plant1/*/cmd",
        "topic": "",
        "qos": "1",
        "retain": false,
        "broker": "7f9f94c67c1a0679",
        "x": 690,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b029746329a3fa12",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 200",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "955210d988c9ca0e",
        "type": "http response",
        "z": "7ec7738dc8078a6d",
        "name": "HTTP 400",
        "statusCode": "400",
        "headers": {
            "content-type": "application/json"
        },
        "x": 690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "json_parse_test",
        "type": "json",
        "z": "7ec7738dc8078a6d",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "validate_test"
            ]
        ]
    },
    {
        "id": "validate_test",
        "type": "function",
        "z": "7ec7738dc8078a6d",
        "name": "Format Test to Supabase",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nmsg.payload = {\n  message: p.message || 'No message provided'\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 60,
        "wires": [
            [
                "supabase_test"
            ]
        ]
    },
    {
        "id": "supabase_test",
        "type": "http request",
        "z": "7ec7738dc8078a6d",
        "name": "Supabase INSERT test",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/test",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 60,
        "wires": [
            [
                "response_test"
            ]
        ]
    },
    {
        "id": "response_test",
        "type": "debug",
        "z": "7ec7738dc8078a6d",
        "name": "Response Test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "7f9f94c67c1a0679",
        "type": "mqtt-broker",
        "name": "",
        "broker": "1181cbf946a740f4b5a02a311e1d483e.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]