node-red.json
[
    {
        "id": "tab_plant1",
        "type": "tab",
        "label": "Plant 1&2 — WWTP SCADA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in_ph",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant1/ph",
        "topic": "wwtp/plant1/ph",
        "qos": "1",
        "datatype": "auto",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "json_parse_ph"
            ]
        ]
    },
    {
        "id": "json_parse_ph",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "validate_ph"
            ]
        ]
    },
    {
        "id": "validate_ph",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform pH",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nconst required = ['plant_id', 'sensor_type', 'value', 'unit', 'status'];\nfor (const f of required) {\n  if (p[f] === undefined) { node.warn('Missing: ' + f); return null; }\n}\n\nmsg.payload = {\n  plant_id:    p.plant_id,\n  sensor_type: p.sensor_type,\n  value:       parseFloat(p.value),\n  unit:        p.unit,\n  status:      p.status,\n  is_manual:   Boolean(p.is_manual)\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nnode.warn('SENDING pH: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "supabase_ph"
            ]
        ]
    },
    {
        "id": "supabase_ph",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT sensor_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/sensor_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "response_ph"
            ]
        ]
    },
    {
        "id": "response_ph",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response pH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_in_level",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant1/level",
        "topic": "wwtp/plant1/level",
        "qos": "1",
        "datatype": "auto",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "json_parse_level"
            ]
        ]
    },
    {
        "id": "json_parse_level",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "validate_level"
            ]
        ]
    },
    {
        "id": "validate_level",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform Level",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nconst required = ['plant_id', 'sensor_type', 'value_cm', 'value_pct', 'value_liter'];\nfor (const f of required) {\n  if (p[f] === undefined) { node.warn('Missing: ' + f); return null; }\n}\n\nmsg.payload = {\n  plant_id:    p.plant_id,\n  value_cm:    parseFloat(p.value_cm),\n  value_pct:   parseFloat(p.value_pct),\n  value_liter: parseFloat(p.value_liter),\n  unit:        p.unit,\n  status:      p.status\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nnode.warn('SENDING level: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "supabase_level"
            ]
        ]
    },
    {
        "id": "response_level",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_in_valve_state",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant1/valve/state",
        "topic": "wwtp/plant1/valve/state",
        "qos": "1",
        "datatype": "auto",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "json_parse_valve"
            ]
        ]
    },
    {
        "id": "json_parse_valve",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "validate_valve"
            ]
        ]
    },
    {
        "id": "validate_valve",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform Valve",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nmsg.payload = {\n  plant_id: p.plant_id,\n  device:   p.device   || 'solenoid_valve',\n  state:    p.state    || 'UNKNOWN',\n  mode:     p.mode     || 'UNKNOWN'\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "supabase_valve"
            ]
        ]
    },
    {
        "id": "supabase_valve",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT valve_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/valve_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 260,
        "wires": [
            [
                "response_valve"
            ]
        ]
    },
    {
        "id": "response_valve",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Valve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "http_in_valve_cmd",
        "type": "http in",
        "z": "tab_plant1",
        "name": "POST /valve/cmd",
        "url": "/valve/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "build_valve_cmd"
            ]
        ]
    },
    {
        "id": "build_valve_cmd",
        "type": "function",
        "z": "tab_plant1",
        "name": "Build Valve Command",
        "func": "// Terima: { mode: 'AUTO'|'MANUAL', state: 'OPEN'|'CLOSED' }\nconst body = msg.payload;\n\nif (!body.mode) {\n  msg.payload = { error: 'mode diperlukan (AUTO atau MANUAL)' };\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nconst cmd = { mode: body.mode };\nif (body.mode === 'MANUAL') {\n  if (!body.state) {\n    msg.payload = { error: 'state diperlukan saat mode MANUAL (OPEN atau CLOSED)' };\n    msg.statusCode = 400;\n    return [null, msg];\n  }\n  cmd.state = body.state;\n}\n\nmsg.payload = JSON.stringify(cmd);\nmsg.topic   = 'wwtp/plant1/valve/cmd';\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "mqtt_out_valve_cmd"
            ],
            [
                "http_response_error"
            ]
        ]
    },
    {
        "id": "mqtt_out_valve_cmd",
        "type": "mqtt out",
        "z": "tab_plant1",
        "name": "Publish wwtp/plant1/valve/cmd",
        "topic": "wwtp/plant1/valve/cmd",
        "qos": "1",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7f9f94c67c1a0679",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "http_response_ok",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "http_response_error",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 400 Error",
        "statusCode": "400",
        "headers": {},
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject_ok_response",
        "type": "function",
        "z": "tab_plant1",
        "name": "Set OK Response",
        "func": "msg.payload = { success: true, message: 'Command dikirim ke ESP32' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "http_response_ok"
            ]
        ]
    },
    {
        "id": "supabase_level",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT level_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/level_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 200,
        "wires": [
            [
                "response_level"
            ]
        ]
    },
    {
        "id": "mqtt_in_alert",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/alert",
        "topic": "wwtp/alert",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "json_parse_alert"
            ]
        ]
    },
    {
        "id": "json_parse_alert",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "validate_alert"
            ]
        ]
    },
    {
        "id": "validate_alert",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform Alert",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); }\n  catch (e) { node.warn('JSON parse error: ' + e); return null; }\n}\n\nmsg.payload = {\n  plant_id: p.plant_id || 'unknown',\n  code:     p.code    || 'UNKNOWN',\n  message:  p.message || '',\n  valve:    p.valve   || 'UNKNOWN'\n};\n\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA2MzUsImV4cCI6MjA4ODc3NjYzNX0.GdQ2J2jxSQXdTB0fAbUiSvemnLJeCSU7W3geHPsBQ2g\";\n\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\n\nnode.warn('ALERT: ' + JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "supabase_alert"
            ]
        ]
    },
    {
        "id": "supabase_alert",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT alert_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/alert_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 320,
        "wires": [
            [
                "debug_alert"
            ]
        ]
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "mqtt_in_p2_level",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant2/level",
        "topic": "wwtp/plant2/level",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "json_p2_level"
            ]
        ]
    },
    {
        "id": "json_p2_level",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "validate_p2_level"
            ]
        ]
    },
    {
        "id": "validate_p2_level",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform Level P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch (e) { node.warn('JSON error: ' + e); return null; }\n}\nconst required = ['plant_id','value_cm','value_pct','value_liter'];\nfor (const f of required) { if (p[f] === undefined) { node.warn('Missing: ' + f); return null; } }\nmsg.payload = {\n  plant_id:    p.plant_id,\n  value_cm:    parseFloat(p.value_cm),\n  value_pct:   parseFloat(p.value_pct),\n  value_liter: parseFloat(p.value_liter),\n  unit:        p.unit || 'cm',\n  status:      p.status || 'Unknown'\n};\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "supabase_p2_level"
            ]
        ]
    },
    {
        "id": "supabase_p2_level",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT level_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/level_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "debug_p2_level"
            ]
        ]
    },
    {
        "id": "debug_p2_level",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Level P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "mqtt_in_p2_flow",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant2/flow",
        "topic": "wwtp/plant2/flow",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "json_p2_flow"
            ]
        ]
    },
    {
        "id": "json_p2_flow",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "validate_p2_flow"
            ]
        ]
    },
    {
        "id": "validate_p2_flow",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform Flow P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch (e) { node.warn('JSON error: ' + e); return null; }\n}\nmsg.payload = {\n  plant_id: p.plant_id || 'plant2',\n  value:    parseFloat(p.value),\n  unit:     p.unit || 'L/min',\n  status:   p.status || 'Unknown'\n};\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "supabase_p2_flow"
            ]
        ]
    },
    {
        "id": "supabase_p2_flow",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT flow_readings",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/flow_readings",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 600,
        "wires": [
            [
                "debug_p2_flow"
            ]
        ]
    },
    {
        "id": "debug_p2_flow",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Flow P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 600,
        "wires": []
    },
    {
        "id": "mqtt_in_p2_valve_main",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant2/valve/main/state",
        "topic": "wwtp/plant2/valve/main/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 660,
        "wires": [
            [
                "json_p2_valve_main"
            ]
        ]
    },
    {
        "id": "json_p2_valve_main",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "validate_p2_valve_main"
            ]
        ]
    },
    {
        "id": "validate_p2_valve_main",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate Valve Main P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch(e) { return null; } }\nmsg.payload = { plant_id: p.plant_id || 'plant2', device: p.device || 'main_valve', state: p.state || 'UNKNOWN', mode: p.mode || 'UNKNOWN' };\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 660,
        "wires": [
            [
                "supabase_p2_valve_main"
            ]
        ]
    },
    {
        "id": "supabase_p2_valve_main",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT valve_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/valve_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 660,
        "wires": [
            [
                "debug_p2_valve_main"
            ]
        ]
    },
    {
        "id": "debug_p2_valve_main",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Valve Main P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "mqtt_in_p2_valve_fs",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/plant2/valve/failsafe/state",
        "topic": "wwtp/plant2/valve/failsafe/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 720,
        "wires": [
            [
                "json_p2_valve_fs"
            ]
        ]
    },
    {
        "id": "json_p2_valve_fs",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "validate_p2_valve_fs"
            ]
        ]
    },
    {
        "id": "validate_p2_valve_fs",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate Valve FS P2",
        "func": "let p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch(e) { return null; } }\nmsg.payload = { plant_id: p.plant_id || 'plant2', device: p.device || 'failsafe_valve', state: p.state || 'UNKNOWN', mode: p.mode || 'UNKNOWN' };\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + SUPABASE_KEY, 'apikey': SUPABASE_KEY, 'Prefer': 'return=minimal' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 720,
        "wires": [
            [
                "supabase_p2_valve_fs"
            ]
        ]
    },
    {
        "id": "supabase_p2_valve_fs",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT valve_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/valve_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 720,
        "wires": [
            [
                "debug_p2_valve_fs"
            ]
        ]
    },
    {
        "id": "debug_p2_valve_fs",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Valve FS P2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1290,
        "y": 720,
        "wires": []
    },
    {
        "id": "http_in_p2_main_cmd",
        "type": "http in",
        "z": "tab_plant1",
        "name": "POST /plant2/valve/main/cmd",
        "url": "/plant2/valve/main/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "build_p2_main_cmd"
            ]
        ]
    },
    {
        "id": "build_p2_main_cmd",
        "type": "function",
        "z": "tab_plant1",
        "name": "Build Main Cmd",
        "func": "const body = msg.payload;\nif (!body.mode) { msg.payload = { error: 'mode diperlukan' }; msg.statusCode = 400; return [null, msg]; }\nconst cmd = { mode: body.mode };\nif (body.mode === 'MANUAL') { if (!body.state) { msg.payload = { error: 'state diperlukan' }; msg.statusCode = 400; return [null, msg]; } cmd.state = body.state; }\nmsg.payload = JSON.stringify(cmd);\nmsg.topic = 'wwtp/plant2/valve/main/cmd';\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 800,
        "wires": [
            [
                "mqtt_out_p2_main",
                "http_res_p2_ok_main"
            ],
            [
                "http_res_p2_err_main"
            ]
        ]
    },
    {
        "id": "mqtt_out_p2_main",
        "type": "mqtt out",
        "z": "tab_plant1",
        "name": "Publish plant2/valve/main/cmd",
        "topic": "wwtp/plant2/valve/main/cmd",
        "qos": "1",
        "retain": false,
        "broker": "7f9f94c67c1a0679",
        "x": 660,
        "y": 780,
        "wires": []
    },
    {
        "id": "http_res_p2_ok_main",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 200",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 660,
        "y": 820,
        "wires": []
    },
    {
        "id": "http_res_p2_err_main",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 400",
        "statusCode": "400",
        "headers": {
            "content-type": "application/json"
        },
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "http_in_p2_fs_cmd",
        "type": "http in",
        "z": "tab_plant1",
        "name": "POST /plant2/valve/failsafe/cmd",
        "url": "/plant2/valve/failsafe/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 970,
        "y": 800,
        "wires": [
            [
                "build_p2_fs_cmd"
            ]
        ]
    },
    {
        "id": "build_p2_fs_cmd",
        "type": "function",
        "z": "tab_plant1",
        "name": "Build FS Cmd",
        "func": "const body = msg.payload;\nif (!body.mode) { msg.payload = { error: 'mode diperlukan' }; msg.statusCode = 400; return [null, msg]; }\nconst cmd = { mode: body.mode };\nif (body.mode === 'MANUAL') { if (!body.state) { msg.payload = { error: 'state diperlukan' }; msg.statusCode = 400; return [null, msg]; } cmd.state = body.state; }\nmsg.payload = JSON.stringify(cmd);\nmsg.topic = 'wwtp/plant2/valve/failsafe/cmd';\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 800,
        "wires": [
            [
                "mqtt_out_p2_fs",
                "http_res_p2_ok_fs"
            ],
            [
                "http_res_p2_err_fs"
            ]
        ]
    },
    {
        "id": "mqtt_out_p2_fs",
        "type": "mqtt out",
        "z": "tab_plant1",
        "name": "Publish plant2/valve/failsafe/cmd",
        "topic": "wwtp/plant2/valve/failsafe/cmd",
        "qos": "1",
        "retain": false,
        "broker": "7f9f94c67c1a0679",
        "x": 1450,
        "y": 780,
        "wires": []
    },
    {
        "id": "http_res_p2_ok_fs",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 200",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1450,
        "y": 820,
        "wires": []
    },
    {
        "id": "http_res_p2_err_fs",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 400",
        "statusCode": "400",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1450,
        "y": 860,
        "wires": []
    },
    {
        "id": "mqtt_in_p1_dosing",
        "type": "mqtt in",
        "z": "tab_plant1",
        "name": "Subscribe wwtp/mtu/dosing/state",
        "topic": "wwtp/mtu/dosing/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f9f94c67c1a0679",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 960,
        "wires": [
            [
                "json_p1_dosing"
            ]
        ]
    },
    {
        "id": "json_p1_dosing",
        "type": "json",
        "z": "tab_plant1",
        "name": "JSON Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "validate_p1_dosing"
            ]
        ]
    },
    {
        "id": "validate_p1_dosing",
        "type": "function",
        "z": "tab_plant1",
        "name": "Validate & Transform Dosing",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch(e) { node.warn('JSON error: ' + e); return null; }\n}\nmsg.payload = {\n  plant_id:     p.plant_id     || 'mtu',\n  status:       p.status       || 'UNKNOWN',\n  cycle:        parseInt(p.cycle) || 0,\n  target_ml:    parseFloat(p.target_ml)    || 0,\n  delivered_ml: parseFloat(p.delivered_ml) || 0,\n  pump_base:    Boolean(p.pump_base),\n  pump_acid:    Boolean(p.pump_acid),\n  stirrer:      Boolean(p.stirrer)\n};\nconst SUPABASE_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlydHJqZGxneml4dG5qd3pzZmpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMDYzNSwiZXhwIjoyMDg4Nzc2NjM1fQ.LMRFnOmPI42g_yFy1Z_q0wrrpQIY_qyTevZHSE5YUs0\";\nmsg.headers = {\n  'Content-Type':  'application/json',\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'apikey':        SUPABASE_KEY,\n  'Prefer':        'return=minimal'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 960,
        "wires": [
            [
                "supabase_p1_dosing"
            ]
        ]
    },
    {
        "id": "supabase_p1_dosing",
        "type": "http request",
        "z": "tab_plant1",
        "name": "Supabase INSERT dosing_log",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://yrtrjdlgzixtnjwzsfjj.supabase.co/rest/v1/dosing_log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 960,
        "wires": [
            [
                "debug_p1_dosing"
            ]
        ]
    },
    {
        "id": "debug_p1_dosing",
        "type": "debug",
        "z": "tab_plant1",
        "name": "Response Dosing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 960,
        "wires": []
    },
    {
        "id": "http_in_dosing_cmd",
        "type": "http in",
        "z": "tab_plant1",
        "name": "POST /plant1/actuator/cmd",
        "url": "/plant1/actuator/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "build_dosing_cmd"
            ]
        ]
    },
    {
        "id": "build_dosing_cmd",
        "type": "function",
        "z": "tab_plant1",
        "name": "Build Actuator Command",
        "func": "const body = msg.payload;\nif (!body.device || !body.cmd) {\n  msg.payload = { error: 'device (acid, base, mixer) dan cmd (ON, OFF) diperlukan' };\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nlet subtopic = '';\nif (body.device === 'acid') subtopic = 'dosing/acid/cmd';\nelse if (body.device === 'base') subtopic = 'dosing/base/cmd';\nelse if (body.device === 'mixer') subtopic = 'mixer/cmd';\nelse {\n  msg.payload = { error: 'device tidak dikenal' };\n  msg.statusCode = 400;\n  return [null, msg];\n}\n\nmsg.payload = JSON.stringify({ cmd: body.cmd });\nmsg.topic   = 'wwtp/plant1/' + subtopic;\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "mqtt_out_dosing_cmd",
                "http_res_dosing_ok"
            ],
            [
                "http_res_dosing_err"
            ]
        ]
    },
    {
        "id": "mqtt_out_dosing_cmd",
        "type": "mqtt out",
        "z": "tab_plant1",
        "name": "Publish wwtp/plant1/*/cmd",
        "topic": "",
        "qos": "1",
        "retain": false,
        "broker": "7f9f94c67c1a0679",
        "x": 690,
        "y": 1060,
        "wires": []
    },
    {
        "id": "http_res_dosing_ok",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 200",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "http_res_dosing_err",
        "type": "http response",
        "z": "tab_plant1",
        "name": "HTTP 400",
        "statusCode": "400",
        "headers": {
            "content-type": "application/json"
        },
        "x": 690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7f9f94c67c1a0679",
        "type": "mqtt-broker",
        "name": "",
        "broker": "1181cbf946a740f4b5a02a311e1d483e.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]